$mq-xs: 500px;
$mq-sm: 700px;
$mq-md: 900px;
$mq-lg: 1100px;
$mq-xl: 1300px;
$mq-xxl: 1700px;
$ninja-black: rgba(0, 0, 0, 0);
$natural-black: #111111;
$darker-gray: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #CCCCCC;
$lighter-gray: #F6F6F6;
$white: #FFFFFF;

$error-red: #BF0C00;
$success-green: #63AF10;
$warning-yellow: #f0ad4e;
$info-blue: #33CBFA;
$error-light-red: #f2d2cf;
$success-light-green: #DFF0D8;
$warning-light-yellow: #FFFDD9;
$info-light-blue: #deeef5;

/*
* The official screen and print
* versions of "TED red" are:
* * #E62B1E
* * Pantone 485 C
* * C=0 M=100 Y=100 K=0
* * R=230 G=43 B=30
*/
$ted-red: #E62B1E;



$mq-xs-min: "min-width: #{$mq-xs}";
$mq-sm-min: "min-width: #{$mq-sm}";
$mq-md-min: "min-width: #{$mq-md}";
$mq-lg-min: "min-width: #{$mq-lg}";
$mq-xl-min: "min-width: #{$mq-xl}";
$mq-xxl-min: "min-width: #{$mq-xxl}";

$mq-xs-max: "max-width: #{$mq-xs}";
$mq-sm-max: "max-width: #{$mq-sm}";
$mq-md-max: "max-width: #{$mq-md}";
$mq-lg-max: "max-width: #{$mq-lg}";
$mq-xl-max: "max-width: #{$mq-xl}";
$mq-xxl-max: "max-width: #{$mq-xxl}";

$breaks: (n: 'none', xs: $mq-xs-min, sm: $mq-sm-min, md: $mq-md-min, lg: $mq-lg-min, xl: $mq-xl-min, xxl: $mq-xxl-min);



$theme_colors: (
  black: $natural-black,
  gray-dd: $darker-gray,
  gray-d: $dark-gray,
  gray: $gray,
  gray-l: $light-gray,
  gray-ll: $lighter-gray,
  white: $white,
  red: $ted-red,
  red-d: $error-red,
  red-l: $error-light-red,
  yellow: $warning-yellow,
  yellow-l: $warning-light-yellow,
  green: $success-green,
  green-l: $success-light-green,
  blue: $info-blue,
  blue-l: $info-light-blue
);

@each $break, $mq in $breaks {
  @if $break == n {
    .bg\:none {
      background: none;
    }
  } else {
    @media($mq){
      .bg\:none\@#{$break} {
        background: none;
      }
    }
  }
  @each $label, $color in $theme_colors {
    @if $break == n {
      .bg\:#{$label} {
        background-color: $color;
      }

      .c\:#{$label} {
        color: $color;
      }

      .hover\/bg\:#{$label}:hover {
        background-color: $color;
      }

      .hover\/c\:#{$label}:hover {
        color: $color;
      } 
    } @else {
      @media($mq) {
        .bg\:#{$label}\@#{$break} {
          background-color: $color;
        }

        .c\:#{$label}\@#{$break} {
          color: $color;
        }

        .hover\/bg\:#{$label}\@#{$break}:hover {
          background-color: $color;
        }

        .hover\/c\:#{$label}\@#{$break}:hover {
          color: $color;
        }
      }
    }
  }
}