.b {
  border: 1px solid currentColor;
}

.b-b {
  border-bottom: 1px solid currentColor;
}

.b-t {
  border-top: 1px solid currentColor;
}

.b-l {
  border-left: 1px solid currentColor;
}

.b-r {
  border-right: 1px solid currentColor;
}

$border_colors: (
  'gray-dd',
  'gray-d',
  'gray',
  'gray-l',
  'gray-ll',
  'red',
  'transparent'
);

@each $border in $border_colors {
  $name: null;
  $color: null;

  @if ($border == 'transparent') {
    $name: 't';
    $color: #{$border};
  } @else {
    $name: $border;
    $color: map-get($theme_colors, $border);
  }

  .b\:#{$name} {
    border: 1px solid $color;
  }

  .b-t\:#{$name} {
    border-top: 1px solid $color;
  }  

  .b-b\:#{$name} {
    border-bottom: 1px solid $color;
  }

  .b-l\:#{$name} {
    border-left: 1px solid $color;
  }

  .b-r\:#{$name} {
    border-right: 1px solid $color;
  }

  .focus\/b\:#{$name}:focus {
    border: 1px solid $color;
  }
}


/* width modifiers */

@for $i from 2 through 4 {
  .b-w\:#{$i} {
    border-width: #{$i}px;
  }  

  .b-b-w\:#{$i} {
    border-bottom-width: #{$i}px;
  }  

  .b-t-w\:#{$i} {
    border-top-width: #{$i}px;
  }  

  .b-l-w\:#{$i} {
    border-left-width: #{$i}px;
  }  

  .b-r-w\:#{$i} {
    border-right-width: #{$i}px;
  }
}


// @each $break, $mq in $breaks {
//   @media($mq) {
//     .b-b\:gray-ll\@#{$break} {
//       border-bottom: 1px solid map-get($theme_colors, gray-ll);
//     }

//     .b-b\:0\@#{$break} {
//       border-bottom: 0;
//     }

//     .b-l\@#{$break} {
//       border-left: 1px solid currentColor;
//     }

//     .b\:0\@#{$break} {
//       border: 0;
//     }
//   }
// }

@each $break, $mq in $breaks {
  @if $break == n {
      .b\:none {
        border: none;
      }
      .ol\:none {
        outline: none;
      }
    } @else {
      @media($mq) {
        .b\:none\@#{$break} {
          border: none;
        }
        .ol\:none\@#{$break} {
          outline: none;
        }
      }
    }
  @each $label, $color in $theme_colors {
    @if $break == n {
      .b\:#{$label} {
        border-color: $color;
      }
    } @else {
      @media($mq) {
        .b\:#{$label}\@#{$break} {
          border-color: $color;
        }
      }
    }
  }
}